<div class="mb-3 col-12">
	<div class="card">
		<div class="card-header bg-white">Title</div>
		<div class="card-body">
			<div class="row">
				<div class="mb-3 col-12">
					<div class="row">
						<div class="align-self-center col-sm-4">
							<label for="frm-form-container-text" class="col-form-label">Text</label>
						</div>
						<div class="align-self-center col-sm-8">
							<div class="input-group">
								<input type="text" name="container[text]" id="frm-form-container-text" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<button name="save" class="btn rounded-pill px-4  btn-gray" type="submit" formnovalidate value="Uložit">Uložit</button>
			</div>
		</div>
	</div>
</div>