<div class="card">
	<div class="card-header bg-white">Title</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12">
				<div class="mb-3 row">
					<div class="col-sm-4 control-label align-self-center">
						<label for="frm-form-container-text" class="col-form-label ">Text</label>
					</div>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" name="container[text]" id="frm-form-container-text" class="form-control  ">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button name="save" class="btn  btn-gray" type="submit" formnovalidate>Uložit</button>
	</div>
</div>