<div class="row" id="customId">
	<div class="col-12">
		<div class="form-group row">
			<div class="col-sm-4 control-label align-self-center">
				<label for="frm-container-text" class="col-form-label ">Text</label>
			</div>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="text" name="container[text]" id="frm-container-text" class="form-control  ">
				</div>
			</div>
		</div>
	</div>
</div>