<div class="row">
	<div class="col-6">
		<div class="mb-3 row">
			<div class="col-sm-4 control-label align-self-center">
				<label for="frm-form-container-text" class="col-form-label">Text</label>
			</div>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="text" name="container[text]" id="frm-form-container-text" class="form-control">
				</div>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="mb-3 row">
			<div class="col-sm-4 control-label align-self-center">
				<label for="frm-form-container-text1" class="col-form-label">Text1</label>
			</div>
			<div class="col-sm-8">
				<div class="input-group">
					<input type="text" name="container[text1]" id="frm-form-container-text1" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>