<div class="mis-radio mb-2 col-12"><label>Radio</label><div class="mis-radio-items"><label for="frm-form-radiolist-first" class="mis-radio-label"><input type="radio" name="radiolist" id="frm-form-radiolist-first" value="first" class="mis-radio-input">First</label><label for="frm-form-radiolist-second" class="mis-radio-label"><input type="radio" name="radiolist" id="frm-form-radiolist-second" value="second" class="mis-radio-input">Second</label></div></div>