<div class="mb-2 col-12 mis-compact"><label class="mis-compact-label labelWrap">Radio</label><div class="mis-compact-items"><div class="mis-compact-field inputWrap"><label for="frm-form-radiolist-first"><input type="radio" name="radiolist" id="frm-form-radiolist-first" value="first">First</label><label for="frm-form-radiolist-second"><input type="radio" name="radiolist" id="frm-form-radiolist-second" value="second">Second</label></div></div></div>