<div class="mb-2 col-12 mis-field"><label for="frm-form-price">Price</label><div class="input-group"><input type="text" name="price" id="frm-form-price" value="1 000 000" inputmode="numeric" data-currency-input="true" class="mis-input form-control"><span class="input-group-text">Kč</span></div></div>