<div class="mb-3 col-12">
	<div id="containerDuplicator" class="card card-accent-primary">
		<div class="card-body">
			<div class="row">
				<div class="duplicator-head">
					<button class="btn-sm btn-duplicator btn-duplicator-remove float-end" name="duplicator[0][del]" formnovalidate="" type="submit">
						<span class="fal fa-times fa-fw"></span>
						Smazat
					</button>
				</div>
				<div class="mb-2 col-12 new-design-label">
					<label for="frm-form-duplicator-0-text">text</label>
					<div class="input-group">
						<input type="text" name="duplicator[0][text]" id="frm-form-duplicator-0-text" value="Text" class="new-design-input form-control ">
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<button class="btn-duplicator btn-sm float-start" name="duplicator[add]" value="Přidat" formnovalidate="" data-nette-validation-scope='["multiplier"]' label="Přidat" type="submit">
				<span class="fal fa-plus fa-fw"></span>
				Přidat
			</button>
		</div>
	</div>
</div>