<div class="mb-3 col-12">
	<div class="form-floating">
		<input type="date" name="date" id="frm-form-date" class="form-control" placeholder="Date">
		<label for="frm-form-date">Date</label>
	</div>
</div>