<div class="mb-3 row">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-form-date" class="col-form-label">Date</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<span class="input-group-text"><span class="fal fa-user fa-fw"></span></span>
			<input type="date" name="date" id="frm-form-date" class="form-control">
		</div>
	</div>
</div>