<div class="mb-2 col-12 new-design-label" id="customId">
	<label for="frm-form-date">Date</label>
	<div class="input-group">
		<input type="date" name="date" id="frm-form-date" class="new-design-input form-control ">
	</div>
</div>