<div class="mb-3 col-12">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label class="col-form-label">Checklist</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="container">
				<div class="row">
					<div class="form-check form-check-inline mr-0 col-12">
						<input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-first" value="first" class="form-check-input">
						<label for="frm-form-checkboxlist-first" class="form-check-label">First</label>
					</div>
					<div class="form-check form-check-inline mr-0 col-12">
						<input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-second" value="second" class="form-check-input">
						<label for="frm-form-checkboxlist-second" class="form-check-label">Second</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>