<div class="mb-2 col-12 checkbox-new-row">
	<label>Checklist</label>
	<div class="checkbox-new-row-item-wrap ">
		<label class="checkbox">
			<input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-first" value="first">
			<span class="box">
				<svg viewBox="0 0 24 24" fill="none" stroke-linecap="round">
					<polyline points="20 6 9 17 4 12"></polyline>
				</svg>
			</span>
			First
		</label>
		<label class="checkbox">
			<input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-second" value="second">
			<span class="box">
				<svg viewBox="0 0 24 24" fill="none" stroke-linecap="round">
					<polyline points="20 6 9 17 4 12"></polyline>
				</svg>
			</span>
			Second
		</label>
	</div>
</div>