<div class="mb-2 col-12 mis-compact"><label class="mis-compact-label">Checklist</label><div class="mis-compact-items"><div class="mis-compact-field"><label for="frm-form-checkboxlist-first"><input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-first" value="first">First</label><label for="frm-form-checkboxlist-second"><input type="checkbox" name="checkboxlist[]" id="frm-form-checkboxlist-second" value="second">Second</label></div></div></div>