<div class="form-group row" id="customId">
	<div class="col-sm-4 control-label align-self-center">
		<label class="col-form-label ">Checklist</label>
	</div>
	<div class="col-sm-8">
		<div class="container">
			<div class="row">
				<div class="form-check form-check-inline mr-0 col">
					<label>
						<input type="checkbox" name="checkboxlist[]" id="frm-checkboxlist-first" value="first">
						<span class="label-text ">
							<label for="frm-checkboxlist-first">First</label>
						</span>
					</label>
				</div>
				<div class="form-check form-check-inline mr-0 col">
					<label>
						<input type="checkbox" name="checkboxlist[]" id="frm-checkboxlist-second" value="second">
						<span class="label-text ">
							<label for="frm-checkboxlist-second">Second</label>
						</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>