{foreach $input->getComponents() as $container}
	<div class="container" style="border: 1px solid red;">
			{continueIf $container instanceof \WebChemistry\Forms\Controls\Submitter}
				{foreach $container->getComponents() as $item}
				   
			{input $item}
		{/foreach}
	</div>
	 {btnRemove 'class' => 'myClass'}
{/foreach}