{if isset($key) && !empty($input->tooltips[$key])}
	{var $tooltip = $input->tooltips[$key]}
{elseif !isset($key) && !empty($input->tooltip)}
	{var $tooltip = $input->tooltip}
{/if}
{if isset($tooltip)}
	<span data-toggle="tooltip" data-placement="right" title="{$tooltip}">
		{icon question-circle, blue}
	</span>
{/if}
