<div class="mb-2 col-12 new-design-label">
	<label for="frm-form-text">Area</label>
	<div class="input-group">
		<textarea name="text" id="frm-form-text" class="new-design-input form-control "></textarea>
	</div>
</div>