<div class="mb-3 row">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-form-text" class="col-form-label">Area</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<textarea name="text" id="frm-form-text" class="form-control"></textarea>
		</div>
	</div>
</div>