<div class="form-group row">
	<div class="col-sm-8 offset-sm-4">
		<div class="form-check ">
			<label>
				<input type="checkbox" name="check" id="frm-check">
				<span class="label-text ">Check</span>
			</label>
		</div>
	</div>
</div>