<div class="col-12" id="customId">
	<div class="row">
		<div class="col-12">
			<div class="new-design-checkbox-row">
				<label class="checkbox">
					<input type="checkbox" name="check" id="frm-form-check">
					<span class="box">
						<svg viewBox="0 0 24 24" fill="none" stroke-linecap="round">
							<polyline points="20 6 9 17 4 12"></polyline>
						</svg>
					</span>
					Check
				</label>
			</div>
		</div>
	</div>
</div>