<div class="mb-3 col-12">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label for="frm-form-file" class="col-form-label">Vyberte soubor</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="input-group">
				<span class="input-group-text"><span class="fal fa-user fa-fw"></span></span>
				<input type="file" name="file" id="frm-form-file" data-nette-rules='[{"op":":fileSize","msg":"The size of the uploaded file can be up to 419430400 bytes.","arg":419430400}]' class="form-control">
				<label class="form-label" for="frm-form-file"></label>
			</div>
		</div>
	</div>
</div>