<div class="mb-2 col-12 new-design-label">
	<label for="frm-form-file">Vyberte soubor</label>
	<div class="input-group">
		<span class="input-group-text">prepend</span>
		<input type="file" name="file" id="frm-form-file" data-nette-rules='[{"op":":fileSize","msg":"The size of the uploaded file can be up to __UPLOAD_SIZE__ bytes.","arg":__UPLOAD_SIZE__}]' class="new-design-input form-control ">
	</div>
</div>