<div class="mb-2 col-12 mis-field"><label for="frm-form-whisperer">Whisperer</label><div class="input-group"><select name="whisperer" data-placeholder="Vyberte" class="form-control-chosen mis-input" id="frm-form-whisperer"><option value=""></option><option value="a">A</option><option value="b">B</option></select></div></div>