<div class="mb-3 col-12">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label for="frm-form-whisperer" class="col-form-label">
				Whisperer
			</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="input-group">
				<select name="whisperer" data-placeholder="Vyberte" id="frm-form-whisperer" data-on-change="#" class="form-control  form-control-chosen">
					<option value=""></option>
					<option value="a">A</option>
					<option value="b">B</option>
				</select>
			</div>
		</div>
	</div>
</div>