<div class="mb-2 col-12 new-design-label">
	<label for="frm-form-whisperer">Whisperer</label>
	<div class="input-group">
		<select name="whisperer" data-placeholder="Vyberte" class="form-control-chosen form-control-chosen new-design-input form-control " id="frm-form-whisperer" data-on-change="#">
			<option value=""></option>
			<option value="a">A</option>
			<option value="b">B</option>
		</select>
	</div>
</div>