<div style="display:flex;flex-direction:column;gap:5px;min-width:0" class="mb-3 col-12"><label style="font-size:11px;font-weight:700;letter-spacing:.5px;text-transform:uppercase;color:var(--gray-600)">Whisperer</label><select name="whisperer" data-placeholder="Vyberte" id="frm-form-whisperer"><option value=""></option><option value="a">A</option><option value="b">B</option></select></div>