<div class="mb-3 col-12"><div class="input-group">
		<div class="form-floating">
			<select name="whisperer" data-placeholder="Vyberte" id="frm-form-whisperer" class="form-control-chosen" placeholder="Whisperer">
				<option value=""></option>
				<option value="a">A</option>
				<option value="b">B</option>
			</select>
			<label for="frm-form-whisperer" class="col-form-label">
				Whisperer
			</label>
		</div>
	</div>
</div>