<div class="form-group row">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-text" class="col-form-label ">Text</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<input type="text" name="text" id="frm-text" class="form-control  ">
			<div class="input-group-append">
				<span class="input-group-text">append</span>
			</div>
		</div>
	</div>
</div>