<div class="mb-3 col-12">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label for="frm-form-text" class="col-form-label">Text</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="input-group">
				<input type="text" name="text" id="frm-form-text" class="form-control">
			</div>
		</div>
	</div>
</div>