<div class="form-group row" id="customId">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-text" class="col-form-label ">Text</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<input type="text" name="text" id="frm-text" class="form-control  ">
		</div>
	</div>
</div>