<div class="mb-2 col-12 mis-field"><label for="frm-form-slider">Slider</label><div class="input-group"><input type="text" name="slider" id="frm-form-slider" data-slider='{"values":{"min":0,"max":100},"range":false,"scale":true,"labels":true,"tooltip":true,"disabled":false,"step":5}' readonly class="mis-input mis-slider-input"></div></div>