<div class="mb-2 col-12 mis-field"><label for="frm-form-slider">Slider</label><div class="input-group"><input type="text" name="slider" id="frm-form-slider" value="20,60" data-slider='{"values":{"min":0,"max":100},"range":true,"scale":true,"labels":true,"tooltip":true,"disabled":false,"step":10,"set":[20,60]}' readonly class="mis-input mis-slider-input"></div></div>