<div class="form-group row">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-select" class="col-form-label ">Select</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<select name="select" id="frm-select" class="form-control  ">
				<option value="first">First</option>
				<option value="second">Second</option>
			</select>
		</div>
	</div>
</div>