<div class="form-floating mb-3">
	<select name="select" id="frm-form-select" class=" form-select" placeholder="Select">
		<option value="first">First</option>
		<option value="second">Second</option>
	</select>
	<label for="frm-form-select">Select</label>
</div>