<div class="mb-3 row" id="customId">
	<div class="col-sm-4 control-label align-self-center">
		<label for="frm-form-select" class="col-form-label">Select</label>
	</div>
	<div class="col-sm-8">
		<div class="input-group">
			<select name="select" id="frm-form-select" class="form-select">
				<option value="first">First</option>
				<option value="second">Second</option>
			</select>
		</div>
	</div>
</div>