<div class="mb-3 col-12">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label for="frm-form-select" class="col-form-label">
				Select
			</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="input-group">
				<select name="select" id="frm-form-select" class="form-select select2-image">
					<option value="">~ Vyberte ~</option>
					<option value="first">First</option>
					<option value="second">Second</option>
				</select>
				<div id="frm-form-select-select2" style="display:none;">
					<div data-key="first" data-src="/images/first.png">
					</div>
					<div data-key="second" data-src="/images/second.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>