<div class="mb-2 col-12 new-design-label">
	<label for="frm-form-select">Select</label>
	<div class="input-group">
		<select name="select" id="frm-form-select" class="new-design-input form-control ">
			<option value="">~ Vyberte ~</option>
			<option value="first">First</option>
			<option value="second">Second</option>
		</select>
	</div>
</div>