<div class="mb-2 col-12 mis-field"><label for="frm-form-select">Select</label><div class="input-group"><select name="select" id="frm-form-select" class="mis-input form-select"><option value="">~ Vyberte ~</option><option value="first">First</option><option value="second">Second</option></select></div></div>