{snippet form}
	{form form, class => 'form-horizontal mb-0 ' . ($form->color ? $form->color) . ($form->ajax ? ' ajax'), novalidate => $form->noValidate}
		{$form->renderForm()|noescape}
	{/form}
{/snippet}
