{snippet form}
	{form form class => 'form-horizontal ' . ($form->color ? $form->color) . ($form->ajax ? ' ajax'),  style=> 'margin-bottom: 0;', novalidate => $form->noValidate}
		{$form->renderForm()|noescape}
	{/form}
{/snippet}