<div class="mb-2 col-12">
	<div class="input-group">
		<div class="form-floating">
			<select name="dependent" id="frm-form-dependent" data-dependentselectbox-parents='{"frm_form_select":"frm-form-select"}' data-dependentselectbox="#" class="form-select" placeholder="Dependent">
				<option value="b">B</option>
				<option value="bb">BB</option>
			</select>
			<label for="frm-form-dependent">Dependent</label>
		</div>
	</div>
</div>