<div class="mb-3 col-12" id="customId">
	<div class="row">
		<div class="align-self-center col-sm-4">
			<label for="frm-form-dependent" class="col-form-label">
				Dependent
			</label>
		</div>
		<div class="align-self-center col-sm-8">
			<div class="input-group">
				<select name="dependent" id="frm-form-dependent" data-dependentselectbox-parents='{"frm_form_select":"frm-form-select"}' data-dependentselectbox="#" class="form-select">
					<option value="b">B</option>
					<option value="bb">BB</option>
				</select>
			</div>
		</div>
	</div>
</div>